<div class="mx-auto mb-10 px-3 py-5 w-11/12 shadow-md ">
    <a href="{% url 'book_clubs:detail' england.pk %}">
        <div class="text-base font-bold mb-3">
            {{ england.title | truncatechars:24 }}
        </div>
        <div class="text-sm font-light mb-3">
            {{ england.description | truncatechars:52 }}
        </div>
        <div>
            <div class="inline-block text-xs text-gray-500 font-normal">
                {{ england.category_BookReview }}
            </div>
        </div>
        <div>
            <div class="inline-block text-xs text-gray-500 font-normal">
                {{ england.created | date:"Y.m.d" }}
            </div>
            <div class="inline-block text-xs text-gray-500 font-normal">
                by {{ england.author.name }}
            </div>
        </div>
    </a>
</div>