{% extends "base.html" %}

{% block page_title %}
    커리북 | 취향 여행법 : 영국과 문화예술
{% endblock page_title %}

{% block content %}
    <div class="px-5">
        <div class="container mt-24 pb-6 text-center mx-auto xl:max-w-full">
            <span class="font-extrabold text-lg mb-12 p-1">진행중인 독서모임</span>
        </div>
        <div class="border-b border-black -mx-5
        ">
        </div>
    </div>
    <div class="flex flex-col sm:flex-row flex-wrap">
        <div class="w-full lg:w-1/3 mb-20 md:mb-24 px-3 md:px-16 lg:px-10 mt-10">
            <a href="{% url 'book_clubs:england' %}">
                <div class="w-auto h-auto bg-cover bg-center mb-4  ">
                    <img src="https://curribook-static.s3.ap-northeast-2.amazonaws.com/static/img/england.jpg">
                </div>
                <div class="text-center">
                    <div class="inline-block text-sm lg:text-sm text-gray-500 mb-4 sm:mb-8 border-b-2">
                        by 고아라
                    </div>
                </div>
                <div class="text-2xl md:text-3xl lg:text-2xl font-bold mb-2 text-center">
                    취향 여행법 : 영국과 문화예술
                </div>
                <div class="font-normal md:text-lg text-gray-600 mb-4 text-center">
                    진정한 여행은 외부가 아니라 내면의 환경이 바뀌어야 한다는 것
                </div>
            </a>
        </div>
        <div class="w-full lg:w-1/3 mb-20 md:mb-24 px-3 md:px-16 lg:px-10 mt-10">
            <a href="{% url 'book_clubs:dog' %}">
                <div class="w-auto h-auto bg-cover bg-center mb-4  ">
                    <img src="https://curribook-static.s3.ap-northeast-2.amazonaws.com/static/img/dog.jpg">
                </div>
                <div class="text-center">
                    <div class="inline-block text-sm lg:text-sm text-gray-500 mb-4 sm:mb-8 border-b-2">
                        by 김창조
                    </div>
                </div>
                <div class="text-2xl md:text-3xl lg:text-2xl font-bold mb-2 text-center">
                    대중화된 반려 교육의 오류
                </div>
                <div class="font-normal md:text-lg text-gray-600 mb-4 text-center">
                    반려견을 바라보는 우리의 눈높이는 어디쯤인가?
                </div>
            </a>
        </div>
        <div class="w-full lg:w-1/3 mb-20 md:mb-24 px-3 md:px-16 lg:px-10 mt-10">
            <a href="{% url 'book_clubs:consumer' %}">
                <div class="w-auto h-auto bg-cover bg-center mb-4  ">
                    <img src="https://curribook-static.s3.ap-northeast-2.amazonaws.com/static/img/consumer.jpg">
                </div>
                <div class="text-center">
                    <div class="inline-block text-sm lg:text-sm text-gray-500 mb-4 sm:mb-8 border-b-2">
                        by 김현우
                    </div>
                </div>
                <div class="text-2xl md:text-3xl lg:text-2xl font-bold mb-2 text-center">
                    소비자와 브랜드, 소유에서 존재를 향하다
                </div>
                <div class="font-normal md:text-lg text-gray-600 mb-4 text-center">
                    현대의 서비스들은 우리들의 소유와 존재 그사이에 아슬아슬하게 서 있다.
                </div>
            </a>
        </div>
        <div class="w-full lg:w-1/3 mb-20 md:mb-24 px-3 md:px-16 lg:px-10 mt-10">
            <a href="{% url 'book_clubs:think' %}">
                <div class="w-auto h-auto bg-cover bg-center mb-4  ">
                    <img src="https://curribook-static.s3.ap-northeast-2.amazonaws.com/static/img/think.jpg">
                </div>
                <div class="text-center">
                    <div class="inline-block text-sm lg:text-sm text-gray-500 mb-4 sm:mb-8 border-b-2">
                        by 박근혜
                    </div>
                </div>
                <div class="text-2xl md:text-3xl lg:text-2xl font-bold mb-2 text-center">
                    쉽게 접하는 인문학, 그 속에서 답을 찾다
                </div>
                <div class="font-normal md:text-lg text-gray-600 mb-4 text-center">
                    일상의 작은 고민거리부터 세상을 움직일 수 있는 큰 결정까지, 삶의 작고 큰 물음에 봉착했을 때 우리는 옛 지혜 속에서 그 답을 찾곤 합니다.
                </div>
            </a>
        </div>
    </div>


{% endblock content %}